.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
}

.form-container h2 {
    font-size: 3rem;
    display: flex;
    margin: 0;
    color: #FFD700;
}

.form-container .email {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: white;
}

.form-container .email-logo {
    padding-right: 2rem;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:  #dbbb01;
    align-items: center;
    width: 30vw;
    padding: 1rem;
    border-radius: .5rem;
    color: white;
}

.form-container .user-name-input, .user-email-input, .message-input {
    width: 95%;
    height: 40px;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    background-color: grey;
}

.form-container .message-input {
    width: 95%;
    height: 200px;
    font-size: 1.5rem;
}

.form-container label {
    font-size: 1.25rem;
}

.form-container .submit-button {
    padding: 12px 60px;
    border-radius: .5rem;
    cursor: pointer;
    background-color: black;
    color: white;
}


@media (min-width: 320px) and (max-width: 480px) {

    .form-container {
        width: 90%;
        height: auto;
        flex-wrap: wrap;
    }

    .form-container h2 {
        text-align: center;
    }

    .form-container .email {
        font-size: 1.25rem;
        padding: 0px;
    }

    .form-container form {
        width: 100%;
    }

    .form-container .message-input {
        width: 95%;
        height: 150px;
        font-size: 1.5rem;
    }

    .form-container .user-name-input, .user-email-input, .message-input {
       margin: 0.25rem;
    }
    
}

@media (min-width: 481px) and (max-width: 768px) {
    .form-container {
        height: 100%;
    }

    .form-container form {
        width: 80%;
    }

    .form-container .email {
        padding: 0px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
     .form-container {
        width: 100%;
        height: 100%;
     }

     .form-container form {
        width: 55%;
     }
}

@media (min-width: 1025px) and (max-width: 1440px) {
 .form-container {
    width: 100%;
    height: 100%;
 }
  .form-container form {
    width: 40%;
  }
}

@media (min-width: 1440px) and (max-width:1920px){

    .form-container {
        width: 100%;
        height: 100%;
    }
 .form-container h2 {
    font-size: 3rem;
 }

 .form-container .email {
    font-size: 1.4rem;
 }

 .form-container form {
    width: 40%;
 }
}