.mass-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 70%;
  height: 100vh;
}

.text-container h2 {
  margin:0;
  font-size: 4rem;
  padding-right: 4rem;
  padding-bottom: 3rem;
}

.text-container span {
  font-size: 1.25rem;
}

.logo-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo-container a {
  margin: 1rem 0.5rem;
}

.profile-image {
  border-radius: 25%;
  transition: 1s;
}

.profile-image:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}

.tech-stack {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
}

.tech-stack img {
  padding: 0 0.5rem;
  animation: anime 1s infinite ease-in-out alternate;
  -webkit-animation: anime 1s infinite ease-in-out alternate;
}

.tech-stack img.tech-logo {
  animation-delay: .3s;
}

 @keyframes anime {
  100% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
 }