:root {
  font-family: monospace, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: rgb(253,232,29);
  background: linear-gradient(90deg, rgba(253,232,29,1) 0%, rgba(195,178,22,1) 0%, rgba(23,22,22,1) 15%, rgba(23,22,22,1) 50%, rgba(23,22,22,1) 85%, rgba(195,178,22,1) 100%, rgba(253,232,29,1) 100%);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
